{% load static %}
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Модуль аналитики</title>
    <link rel="stylesheet" href="{% static 'core/css/homepage.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
    <div class="header">
        <div class="header__name">{{object_list.user.name}}</div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Выбор пользователя    :
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for item in object_list.all_users %}
                    <li><a class="dropdown-item" href="{{item.get_absolute_url}}">{{item.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="header__risk">
            Стоимость портфеля: {{object_list.all_price_rub}} рублей <br>
            Стоимость портфеля: {{object_list.all_price_dol}} долларов
        </div>
        <div class="header__risk">{{object_list.user.type_risk}}</div>
    </div>
    <div class="main">
        <table class="package">
            <thead>
                <tr>
                    <th class='analiz-title'>Название</th>
                    <th class='analiz-title'>Тип</th>
                    <th class='analiz-title'>Стоимость</th>
                    <th class='analiz-title'>Валюта</th>
                    <th class='analiz-title'>Отрасль</th>
                    <th class='analiz-title'>Кол-во</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list.stock %}
                <tr class="rows-table-package">
                    <td>{{item.name}}</td>
                    <td>{{item.type__name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.currency__name}}</td>
                    <td>{{item.branch__name}}</td>
                    <td>{{item.package__count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="analiz">
            <tr>
                <td class='analiz-title' colspan="2">Отрасли</td>
            </tr>
            
            {% for key, value in object_list.divBranch.items %}
                <tr class="rows-table">
                    <td>{{key}}</td>
                    <td>{{value}}%</td>
                </tr>
            {% endfor %}
            <tr>
                <td class='analiz-title' colspan="2">Типы ценных бумаг</td>
            </tr>
            
            {% for key, value in object_list.divType.items %}
                <tr class="rows-table">
                    <td>{{key}}</td>
                    <td>{{value}}%</td>
                </tr>
            {% endfor %}
            <tr class="rows-table">
                <td class='analiz-title' colspan="2">Валюта</td>
            </tr>
            
            {% for key, value in object_list.divCurrency.items %}
                <tr class="rows-table">
                    <td>{{key}}</td>
                    <td>{{value}}%</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="chart">
        <div style="width: 30%;">
            <canvas id="branch"></canvas>
        </div>
        <div style="width: 30%;">
            <canvas id="type"></canvas>
        </div>

        <div style="width: 30%;">
            <canvas id="currency"></canvas>
        </div>
        
        
    </div>
    <div class="status">
           
                <p>
                    <a class="btn btn-outline-danger btn-lg" data-bs-toggle="collapse" href="#test_1" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Риски портфеля
                    </a>
                    
                  </p>
                  <div class="collapse" id="test_1">
                    <div class="card card-body">
                        <div class="error-list">
                            {% for item in object_list.error%}
                                <p>{{ item }}</p>
                            {% endfor %}
                    </div>


            </div>
        </div>
            
        <p>
            <a class="btn btn-outline-info btn-lg" data-bs-toggle="collapse" href="#test_2" role="button" aria-expanded="false" aria-controls="collapseExample">
              Рекомендации
            </a>
            
          </p>
          <div class="collapse" id="test_2">
            <div class="card card-body">
                <div class="recomend-list">
                    {% for item in object_list.recomend%}
                        <p>{{ item }}</p>
                    {% endfor %}
            </div>


        </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
    <script>
        var branchData = {{ object_list.divBranch|safe }}
        var typeData = {{ object_list.divType|safe }}
        var currencyData = {{ object_list.divCurrency|safe }}
    </script>
    <script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>