*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}
.header{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 40px;
}
.header__name{
    font-size: 24px;
    cursor: pointer;
}
.header__risk{
    font-size: 22px;
}
.main{
    display: flex;
    padding: 0 40px;
    margin-top: 100px;
    justify-content: space-between;
}
.package{
    width: 55%;
    border-collapse: collapse;
    text-align: center;
}
.package th, .package td, .analiz th , .analiz td{
    border: 1px solid black
}
.analiz{
    width: 40%;
    border-collapse: collapse;
    text-align: center;
}
.analiz-title{
    background-color: #c8c8c8;
}
.rows-table:nth-child(odd){
    background-color: #eceaea;
}
.rows-table-package:nth-child(even){
    background-color: #eceaea;
}
.chart{
    padding: 0 40px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.status{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 150px;
}
.error, .recomend{
    width: 45%;
    border: 1px solid;
}
.error-list, .recomend-list{
    margin-top: 25px;
    
}
.error-list p{
    list-style: circle;
}